<% if (title) { %>
    <h1 class="login_page_title"><%= title %></h1>
    <div class="flash-notice"><%= messages.notice %></div>
    <% } else { res.redirect("/") } %> <%- messages() %> <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>
        
    <%- messages() %>
    

    <%- grid %>


