<% if (title) { %>
<h1 class="accountMang_View"><%= title %></h1>
<div class="flash-notice"><%= messages.notice %></div>
<% } else { res.redirect("/") } %> <%- messages() %> <% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<div id="managementPageContainer">
  <div class="managementpage">
    <img src="/images/site/profile_management_icon.webp" class="addCategoryImage" alt="Image showing a icon of a profile for a user, with a setting icon">

    <%# if (accountData.account_type === 'Admin') { %>
    <!-- <p>Dear Managers, do remember to review any pendig updates from your employees</p> -->
    <%# Button%>
    <!-- <a href="/inv/pending_approval" class="accountMangementbtn">Pending Approval</a> -->
    <%# } %>

    <div class="displayAcoountView">
      <% if (accountData.account_type === 'Client') { %>
      <h2>Welcome <%= accountData.account_firstname %></h2>
      <% } else if (accountData.account_type === 'Employee' || accountData.account_type === 'Admin') { %>
      <h2>Welcome <%= accountData.account_firstname %></h2>
      <h3>Inventory Management</h3>
      <p><a class="accountMangementbtn" href="/inv/">Access Inventory Management</a></p>
    
      <% if (accountData.account_type === 'Admin') { %>
        <a href="/inv/pending_approval" class="accountMangementbtn">Pending Approval</a>
        <a href="/account/admin" class="accountMangementbtn">Admin Management</a>
      <% } %>
      

      <% } %>

      <!-- <a class="accountMangementbtn" href="/account/update/<%= accountData.account_id %>">Update Account Information</a> -->
      <% if (accountData.account_type !== 'Admin') { %>
        <a class="accountMangementbtn" href="/account/update/<%= accountData.account_id %>">Update Account Information</a>
      <% } %>  
      
    
    
    </div>

  </div>
</div>