<% if (title) { %>
<h1 class="accountMang_View_updatePage"><%= title %></h1>
<div class="flash-notice"><%= messages.notice %></div>
<% } else { res.redirect("/") } %> <%- messages() %> <% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

  <div class="containerForAcctMagntForm">
    <section class="accountInfoUpdateSection">
      <h2>Account Update</h2>
      <fieldset class="accountDetailsForm">
        <legend>Account details</legend>
        <p>You may update your account information here</p>
        <form action="/account/update" method="post">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" name="account_firstname" value="<%=  locals.account_firstname %>" pattern="^[a-zA-Z]+$" placeholder="Letters only" required>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="account_lastname" value="<%=  locals.account_lastname %>" pattern="^[a-zA-Z]+$" placeholder="Letters only" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="account_email" value="<%=  locals.account_email %>" placeholder="Johndoe@domain.com" required>
          </div>

          <!-- Account type dropdown for Admins only -->
          <% if ((locals.accountData && locals.accountData.account_type === 'Admin') || 
          (accountData && accountData.account_type === 'Admin')) { %>
          <div class="form-group">
            <label for="account_type">Account Role</label>
            <select id="account_type" name="account_type" class="form-control" required>
              <option value="Client" <%= (locals.account_type === 'Client') ? 'selected' : '' %>>Client</option>
              <option value="Employee" <%= (locals.account_type === 'Employee') ? 'selected' : '' %>>Employee</option>
              <option value="Admin" <%= (locals.account_type === 'Admin') ? 'selected' : '' %>>Admin</option>
            </select>
          </div>
        <% } else { %>
          <input type="hidden" name="account_type" value="<%= accountData.account_type %>">
        <% } %>

          <input type="hidden" name="account_id" value="<%= locals.account_id %>">
          <p><b>Update button is disabled until changes are made.</b></p>
          <button type="submit" class="accountUpdate-btn">Update Account</button>
          <button type="button" onclick="window.location.href='/account/'" class="cancelButton">Cancel</button>
        </form>
        <ul>
          <li>Input should contain only letters (both lowercase and uppercase)</li>
          <li>Email format: A combination of alphanumeric characters</li>
        </ul>
      </fieldset>
    </section>
  </div>
  <div class="containerForAcctMagntFormUpdate">
    <section class="passwordUpdateSection">
      <h2>Update Password</h2>
      <!-- <p class="passwordUpdateMessage"><u>Password changes are permanent</u></p> -->
      <fieldset class="passwordUpdateForm">
        <legend>Password Update</legend>
        <p class="passwordUpdateMessage">If desired, you may change your password. <u>Password changes are permanent</u></p>
        <form action="/account/update-password" method="post">
          <%#   <div class="form-group">
            <label for="currentPassword">Current Password</label>
            <input type="password" class="form-control" id="currentPassword" name="currentPassword"required placeholder="Enter Current Password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"required>
          </div>
          %>
          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Enter New Password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm New Password</label>
            <input type="password" class="form-control" id="confirmPassword" name="account_password" placeholder="Renter Current Password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
          </div>
          <div id="alertmsg"></div>

          <input type="hidden" name="account_id" value="<%= locals.account_id %>">
          <input type="hidden" name="account_firstname" value="<%= locals.account_firstname %>">
          <%# // Password requirements listing section %>

          <P class="passwordRequirement">*A strong password is recommended and should meet the follow:</P>
          <div class="passwordRequirements">
            <ul>
              <li>12 characters in length, minimum</li>
              <li>Contain at least 1 capital letter</li>
              <li>Contain at least 1 number</li>
              <li>Contain at least 1 special character</li>
            </ul>
          </div>
          <p><b>Update button is disabled until changes are made.</b></p>
          <button disabled type="submit" class="changePw_update-btn">Change Password</button>
          <button type="button" onclick="window.location.href='/account/'" class="cancelButton">Cancel</button>
        </form>
      </fieldset>
    </section>
  </div>

<noscript>JavaScript is required to submit the buttons</noscript>
<script src="/js/updateDataDisabled.js"></script>
<script src="/js/changePasswordDisabled.js"></script>