<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <!-- <head>
  <span class="siteName">
    <a href="/" title="Return to home page">&nbsp;</a>
    </span>
    <div id="tools">
      <a title="Click to log in" href="/account/login">&nbsp;</a>
    </div>
    </header>
  </head> -->

  <body>
    <!-- <div id="wrapper"> -->
      <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>

          <!-- <body> -->
            <%- body %>
          <!-- </body> -->

          <%- include('../partials/footer') %>
    </div>
  </body>

</html>