    <% if (title) { %>
        <h1 class="addClassification_title"><%= title %></h1>
        <div class="flash-notice"><%= messages.notice %></div>
        <% } else { res.redirect("/") } %> <%- messages() %> <% if (errors) { %>
        <ul class="notice">
          <% errors.array().forEach(error => { %>
          <li><%= error.msg %></li>
          <% }) %>
        </ul>
        <% } %>

    <form id="addClassificationForm" action="/inv/add-classification" method="post">
        <fieldset class="managementPageForm">
            <legend>This field is required</legend>
            <h2>Enter new category if your Vehicle classification is not listed</h2>
            <div class="containerAddClassificationForm">
                <label for="classification_name"><b>Classification Name:</b></label>
                <input name="classification_name"  value="<%= locals.classification_name %>" id="classification_name" type="text"  pattern="[A-Za-z]+" placeholder="Only alphabetic characters are allowed" required>
                <input type="submit" class="Add_to_classification_list_Button" id="classification_list_Button" value="Add Classification">
            </div>
        </fieldset>
    </form>

   
