<div class="large-view-container">
  <div class="large-view-content">
    <h1 class="page-title"><%= title %></h1>
    <hr class="firstHr">
    <div class="content">
      <p class="bold top-margin"><span class="first-word">Price:</span> <span class="price">$<%= price %></span></p>
      <p class="bold"><span class="first-word">Description:</span> <%= Description %></p>
      <p class="bold"><span class="first-word">Model:</span> <%= model %></p>
      <p class="bold"><span class="first-word">Color:</span> <%= color %></p>
      <p class="bold"><span class="first-word">Mileage:</span> <%= mileage %></p>
    </div>
    <hr class="lastHr">
  </div>
  <img src="<%= image %>" alt="<%= title %>" class="classificationDetail-Image">
</div>