<% if (title) { %>
<h1 class="pendingApprovalPage"><%= title %></h1>
<div class="flash-notice"><%= messages.notice %></div>
<% } else { res.redirect("/") } %> <%- messages() %> <% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<%- messages() %>
<h2>Welcome to Pending approval</h2>

<%# Classification Table %>

<table>
  <thead>
    <tr>
      <th colspan="3">Pending Classification</th>
    </tr>
    <tr>
      <th colspan="1">Classification</th>
      <th colspan="1">Approve</th>
      <th colspan="1">Deny</th>
    </tr>
  </thead>
  <tbody>


    <% unapprovedClassificationItems.forEach(classification => { %>
    <tr>
      <td><%= classification.classification_name %></td>
      <td>
        <form action="/inv/approve/classification" method="post">
          <input name="classification_id" value="<%= classification.classification_id %>" type="hidden">
          <button class="approve-button" type="submit">Approve</button>
          <!-- Additional value for the account info -->
          <input type="hidden" name="account_id" value="<%= locals.accountData.account_id %>">
          <input type="hidden" name="account_firstname" value="<%= locals.accountData.account_firstname %>">
        </form>
      </td>
      <td>
        <form action="/inv/deny/classification" method="post">
          <button name="classification_id" value="<%= classification.classification_id %>"> Deny</button>
        </form>
      </td>

    </tr>
    <!-- <td> -->

    <% }) %>
    <%# additional if statement shows if there is no available data in list %>
    <% if (unapprovedClassificationItems.length === 0) { %>
    <tr>
      <td colspan="3">No current pending classification available at this time</td>
    </tr>
    <%# -------------------------------------------------------- %>

    <% } %>
    <!-- </td> -->
  </tbody>
</table>

<%# Inventory Table %>

<table>
  <thead>
    <tr>
      <th colspan="6">Pending Inventory</th>
    </tr>
    <tr>
      <th colspan="1">Preview</th>
      <th colspan="1">Year</th>
      <th colspan="1">Inventory Item</th>
      <th colspan="1">Classification</th>
      <th colspan="1">Approve</th>
      <th colspan="1">Deny</th>
    </tr>
  </thead>
  <tbody>

    <% unapprovedInventory.forEach(Inventory => { %>
    <tr>
      <!-- <td colspan="1"><a href="../../inv/detail/<%#= Inventory.inv_id %>" target="_blank"><p>Icon</p></a></td> -->
      <!-- Link to trigger the popup -->
      <td colspan="1"><a href="#" class="preview-link" data-preview-url="../../inv/detail/<%= Inventory.inv_id %>">
          <p>Icon</p>
        </a></td>

      <td colspan="1"><%= Inventory.inv_year %></td>
      <td colspan="1">
        <%= (Inventory.inv_make ? Inventory.inv_make : '') + ' ' + (Inventory.inv_model ? Inventory.inv_model : '') %>
      </td>
      <td>
        <%= Inventory.classification_name %>
      </td>

      <td>
        <form action="/inv/approve/Inventory" method="post">
          <input name="account_id" value="<%= locals.accountData.account_id %>" type="hidden">
          <input name="inv_id" value="<%= Inventory.inv_id %>" type="hidden">
          <button class="approve-button" type="submit">Approve</button>
        </form>
      </td>
      <td>
        <form action="/inv/deny/Inventory" method="post">
          <input name="inv_id" value="<%= Inventory.inv_id %>" type="hidden">
          <button class="deny-button" type="submit">Deny</button>
        </form>
      </td>

    </tr>
    <% }) %>
    <%# additional if statement shows if there is no available data in list %>
    <% if (unapprovedInventory.length === 0) { %>
    <tr>
      <td colspan="4">No current data for inventory items at this time</td>
    </tr>
    <% } %>
    <%# ------------------------------------------------------ %>

  </tbody>
</table>

<!-- Popup modal -->
<div id="previewModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <iframe id="previewFrame" src="#"></iframe>
  </div>
</div>

<noscript>JavaScript is required for Preview link</noscript>
<script src="/js/previewModal.js"></script>