<% if (title) { %>
    <h1 class="pendingApprovalPage"><%= title %></h1>
    <div class="flash-notice"><%= messages.notice %></div>
    <% } else { res.redirect("/") } %> <%- messages() %> <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>
        
    <%- messages() %>
    <h2>Welcome to Pending approval</h2>

    <%# Classification Table %>

    <table>
      <thead>
        <tr>
          <th colspan="3">Pending Classification</th>
        </tr>
        <tr>
          <th colspan="1">Classification</th>
          <th colspan="1">Approve</th>
          <th colspan="1">Deny</th>
        </tr>
      </thead>
      <tbody>
        <% unapprovedClassificationItems.forEach(classification => { %>
          <tr>
            <td colspan="1">
              <%= classification.classification_name %>
              <input type="hidden" name="classification_id" value="<%= classification.classification_id %>">
            </td>            
            <td colspan="1">
              <a href="/inv/approve/classification/<%= classification.classification_id %>" title="Approve">Approve</a>
            </td>
            <td colspan="1">
              <a href="/inv/deny/classification/<%= classification.classification_id %>" title="Reject">Deny</a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>

     <%# Inventory Table %>

     <table>
      <thead>
        <tr>
          <th colspan="3">Pending Inventory</th>
        </tr>
        <tr>
          <th colspan="1">Year</th>
          <th colspan="1">Inventory Item</th>
          <th colspan="1">Classification</th>
          <th colspan="1">Approve</th>
          <th colspan="1">Deny</th>
        </tr>
      </thead>
      <tbody>
        <% itemData.forEach(Inventory => { %>
          <tr>
            <td colspan="1"><%= Inventory.inv_year %></td>
            <td colspan="1">
              <%= (Inventory.inv_make ? Inventory.inv_make : '') + ' ' + (Inventory.inv_model ? Inventory.inv_model : '') %>
            </td>
            <td colspan="1">
              <% unapprovedClassificationItems.forEach(classification => { %>
                <% if (classification.classification_id === Inventory.classification_id) { %>
                  <%= classification.classification_name %>
                <% } %>
              <% }) %>
            </td>
            <td colspan="1">
              <a href="/inv/approve/Inventory/<%= Inventory.inv_id %>" title="Approve">Approve</a>
            </td>
            <td colspan="1">
              <a href="/inv/deny/Inventory/<%= Inventory.inv_id %>" title="Reject">Deny</a>
            </td>
          </tr>
        <% }) %>
        </tbody>
        </table>
        